; Admiral systemd service unit file
; Place in e.g. `/etc/systemd/system/admiral.service`, then `systemctl daemon-reload` and `systemctl start admiral`.
; Drop token in: /etc/systemd/system/admiral.service.d/token.conf
; [Service]
; Environment=TELEGRAM_TOKEN=ddhsjdshsdjhdaskdashsadhdsajk

[Unit]
Description=admiral
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/admiral
User=admiral

Restart=always
RestartSec=10

; Configure environment variables, make sure to use quotes around whitespace as shown below.
;Environment=HUBOT_aaa=xxx "HUBOT_bbb='yyy yyy'"

ExecStart=/opt/admiral/script/run

[Install]
WantedBy=multi-user.target
